/* The contact section style */

/* Importing side */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Work+Sans:wght@800&display=swap");
@import "./style.css";

/* Contact me area */

.contact {
  width: 100%;
  height: max-content;
  background: rgb(246, 246, 246);
  position: relative;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Icons style */

.contact-icns {
  height: max-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--text);
  flex-wrap: wrap;
}
.icns-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
}
.flex {
  flex: 0 0 40rem;
}
.round {
  width: 80px;
  height: 80px;
  background-color: var(--background-second);
  font-size: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.event {
  pointer-events: none;
}
.bold {
  font-weight: bolder;
}
.small-text {
  font-size: var(--cool);
}

/* Form */
form {
  width: 70%;
  height: max-content;
  margin: 0 auto;
  text-align: center;
}
.form-container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas:
    "one two"
    "three three";
}
form input,
textarea {
  border: none;
  background: var(--background-second);
  font-size: 2rem;
  padding: 1rem;
  border-radius: 15px;
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}

.margin {
  margin: 1rem;
}

.submit-btn {
  width: 10rem;
  padding: 0.5rem;
  margin-top: 2rem;
  border-radius: 25px;
  border: none;
  background: var(--menu-color);
  color: white;
  cursor: pointer;
  font-size: 2rem;
}

/* Hover area */
@media (hover: hover) {
  .submit-btn:hover {
    background: white;
    color: var(--menu-color);
    border: 2px solid var(--menu-color);
  }
  .round:hover {
    transition: 0.5s ease;
    background: var(--menu-color);
  }
}

/* Responsive media */

@media screen and (max-width: 800px) {
  form {
    width: 100%;
  }
  .flex {
    flex: 0 0 30rem;
  }
}
@media screen and (max-width: 450px) {
  form {
    width: 100%;
  }
  .flex {
    flex: 0 0 20rem;
  }
}
