@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  padding: 3rem;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
  cursor: pointer;
}
/* Navbar and home section */
.navbar {
  color: white;
}
.navbar-logo {
  flex: 1 1 60rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 60rem;
}

.home {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: rgb(37, 56, 110);
}

/* Hero section */
.hero {
  padding-top: 3rem;
  min-width: 100%;
  min-height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
}
b {
  color: rgba(221, 45, 45, 0.774);
}
.home-btn {
  font-size: 1rem;
  margin: 2.5rem;
  font-weight: bold;
  background: rgba(221, 45, 45, 0.774);
  border: 2px solid white;
  padding: 1rem;
  border-radius: 50px;
}

.alert {
  display: none;
  font-size: 0.5rem;
  color: rgb(253, 253, 253);
}
.soon {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: bold;
}
.double-arrow {
  animation: slide-bottom 0.8s ease-in 1s infinite both;
  font-size: 1.5rem;
}

/* About me section */
.about {
  width: 100%;
  height: 100vh;
  padding: 3rem;
  color: rgb(233, 233, 233);
  display: flex;
  align-items: center;
  position: relative;
}
.about-img {
  display: flex;
  flex: 1 1 60rem;
}
#succes {
  width: 80%;
  height: auto;
}
.about-inf {
  color: rgb(37, 56, 110);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 60rem;
}
.about-inf h1 {
  font-size: 3rem;
}
.profession {
  letter-spacing: 0.3rem;
  color: rgba(221, 45, 45, 0.774);
  padding-bottom: 1rem;
}
.progress-bar {
  color: white;
  background: rgb(224, 224, 224);
  border-radius: 50px;
  margin-top: 1rem;
}
.loading {
  width: 35%;
  padding: 0.4rem;
  background: rgba(221, 45, 45, 0.774);
  border-radius: inherit;
  display: flex;
  justify-content: space-between;
}
.load-first {
  animation: first-loading 3s ease;
  width: 75%;
}
.load-second {
  animation: second-loading 3s ease;
  width: 65%;
}
.load-third {
  animation: third-loading 3s ease;
  width: 45%;
}
/* Loading animation */
.btn-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.btn-container a {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 50px;
  padding: 0.9rem 2.5rem;
  cursor: pointer;
}
.btn-1 {
  background: rgb(37, 56, 110);
  color: white;
  border: 2px solid white;
}
.btn-2 {
  background: rgb(224, 224, 224);
  color: rgb(37, 56, 110);
  border: 2px solid rgb(37, 56, 110);
}

/* Media Queries */

@media (max-width: 800px) {
  nav {
    padding: 1rem;
  }
  .navbar-menu {
    z-index: 3;
    min-height: 85vh;
    width: 100vw;
    margin: 0;
    position: absolute;
    top: 5rem;
    left: -100rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: rgb(37, 56, 110, 0.95);
    transition: 0.4s ease;
  }
  .nav-active {
    left: 0;
  }
  .span-active {
    transition: 0.4s ease;
    color: rgba(221, 45, 45, 0.774);
  }
  .hamburger-menu {
    min-height: 30px;
    min-width: 35px;
    background: rgba(34, 33, 33, 0.418);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .line {
    height: 3px;
    width: 20px;
    margin: 3px;
    border-radius: 5px;
    background: white;
    pointer-events: none;
  }
  .ln-anm1 {
    transform-origin: left center;
    animation: first-bar 0.4s forwards;
  }
  .ln-anm2 {
    animation: second-bar 0.4s forwards;
  }
  .ln-anm3 {
    transform-origin: left center;
    animation: third-bar 0.4s forwards;
  }
  .hero {
    font-size: calc(2rem + 1vw);
  }
  .home-btn {
    font-size: calc(1.5rem + 1vw);
  }
  .about {
    display: flex;
    flex-direction: column;
  }
  .about-img {
    justify-content: center;
  }
}
@media (max-width: 650) {
  .about {
    height: auto;
  }
}
@media (max-width: 450px) {
  .hero {
    position: relative;
    font-size: calc(1.5rem + 1vw);
    height: 85%;
    padding: 0;
  }
  .home-btn {
    font-size: 1rem;
  }
  .double-arrow {
    position: absolute;
    bottom: 0;
  }
  .btn-container a {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
  }
}
@media (hover: hover) {
  a:hover {
    color: rgba(221, 45, 45, 0.774);
    border-bottom: 2px solid rgba(221, 45, 45, 0.774);
    font-weight: bold;
  }
  .home-btn:hover {
    color: rgba(221, 45, 45, 0.774);
    border: 2px solid rgba(221, 45, 45, 0.774);
    background: rgb(224, 224, 224);
  }
  .btn-1:hover {
    background: rgb(224, 224, 224);
    color: rgb(37, 56, 110);
    border: 2px solid rgb(37, 56, 110);
  }

  .btn-2:hover {
    background: rgb(37, 56, 110);
    color: white;
    border: 2px solid white;
  }
}

/* keyframes */
@keyframes first-bar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(28deg);
  }
}
@keyframes second-bar {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
@keyframes third-bar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-28deg);
  }
}
@keyframes slide-bottom {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes first-loading {
  0% {
    width: 35%;
  }

  100% {
    width: 75%;
  }
}
@keyframes second-loading {
  0% {
    width: 35%;
  }

  100% {
    width: 65%;
  }
}
@keyframes third-loading {
  0% {
    width: 35%;
  }

  100% {
    width: 45%;
  }
}
