@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.4rem + 1vw);
  --text: calc(1rem + 1vw);
  --cool: calc(0.4rem + 1vw);
  --big: calc(6rem + 1vw);
  --font-special: rgba(221, 45, 45, 0.774);
  --background-color: #25386e;
  --menu-color: rgb(37, 56, 110, 0.95);
  --gray-text: #525252;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
li,
button,
label,
input,
a,
p {
  font-size: var(--text);
}
nav {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 2.5rem;
  display: flex;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
b {
  color: var(--font-special);
}
li {
  list-style: none;
  cursor: pointer;
}

/* Navbar and home section */
.navbar-logo {
  flex: 1 1 60rem;
  font-size: var(--header1);
  font-weight: bold;
}
.navbar-logo h3 {
  cursor: pointer;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 60rem;
}
.stick-top {
  transition: all 0.5s ease;
  position: fixed;
  background: var(--menu-color);
}
/* Home container */
.home {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url("../imgs/home-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Hero section */
.hero {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: var(--header3);
  overflow: hidden;
}
.home-btn {
  margin: 2.5rem;
  padding: 1rem;
  background: var(--font-special);
  font-size: var(--text);
  font-weight: bold;
  border: 2px solid white;
  border-radius: 50px;
}
.double-arrow {
  position: absolute;
  bottom: 2rem;
  animation: slide-bottom 0.8s ease-in 1s infinite both;
  font-size: var(--header1);
}

/* About me section */
.about {
  min-height: 100vh;
  padding: 3rem;
  color: rgb(233, 233, 233);
  display: flex;
  align-items: center;
  position: relative;
}
.about-img {
  display: flex;
  flex: 1 1 40rem;
}
#succes {
  width: 100%;
  height: 100%;
}
.about-inf {
  color: rgb(37, 56, 110);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 40rem;
}
.about-inf h1 {
  font-size: var(--header2);
}
.profession {
  font-size: var(--text);
  letter-spacing: 0.3rem;
  color: var(--font-special);
  padding-bottom: 1rem;
}
.progress-bar {
  color: white;
  background: rgb(224, 224, 224);
  margin-top: 1rem;
  border-radius: 50px;
  font-size: var(--cool);
}
.loading {
  width: 35%;
  padding: 0.4rem;
  background: var(--font-special);
  border-radius: inherit;
  display: flex;
  justify-content: space-between;
}
.load-first {
  animation: first-loading 3s ease;
  width: 75%;
}
.load-second {
  animation: second-loading 3s ease;
  width: 65%;
}
.load-third {
  animation: third-loading 3s ease;
  width: 45%;
}
/* Loading animation */
.btn-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.btn-container a {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 50px;
  padding: 0.9rem 2.5rem;
  cursor: pointer;
}
.btn-1 {
  background: rgb(37, 56, 110);
  color: white;
  border: 2px solid white;
}
.btn-2 {
  background: rgb(224, 224, 224);
  color: rgb(37, 56, 110);
  border: 2px solid rgb(37, 56, 110);
}

/* Media Queries */

@media screen and (max-width: 800px) {
  /* Navbar settings on 800px */
  nav {
    padding: 1rem;
  }
  .navbar-menu {
    width: 100%;
    min-height: 80vh;
    margin: 0;
    z-index: 3;
    position: absolute;
    top: 5.47rem;
    left: 100%;
    background: var(--menu-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 0.4s ease;
  }
  .menu-active {
    transition: 0.4s ease;
    left: 0%;
  }
  .nav-active {
    background: var(--menu-color);
  }
  .span-active {
    transition: 0.4s ease;
    color: var(--font-special);
  }
  .hamburger-menu {
    min-width: 35px;
    min-height: 30px;
    background: rgba(34, 33, 33, 0.418);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .line {
    height: 3px;
    width: 20px;
    margin: 3px;
    border-radius: 5px;
    background: white;
    pointer-events: none;
  }
  /* Hamburge animations */
  .ln-anm1 {
    transform-origin: left center;
    animation: first-bar 0.4s forwards;
  }
  .ln-anm2 {
    animation: second-bar 0.4s forwards;
  }
  .ln-anm3 {
    transform-origin: left center;
    animation: third-bar 0.4s forwards;
  }

  /* About on 800px */
  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .about-img {
    justify-content: center;
  }
}

@media screen and (max-width: 450px) {
  /* Hero on 450px */
  .hero {
    text-align: center;
    overflow: hidden;
  }
  .about {
    padding: 1rem;
  }
}

/* Hovering things */
@media (hover: hover) {
  a:hover {
    color: rgba(221, 45, 45, 0.774);
    border-bottom: 2px solid rgba(221, 45, 45, 0.774);
    font-weight: bold;
  }
  .home-btn:hover {
    color: rgba(221, 45, 45, 0.774);
    border: 2px solid rgba(221, 45, 45, 0.774);
    background: rgb(224, 224, 224);
  }
  .btn-1:hover {
    background: rgb(224, 224, 224);
    color: rgb(37, 56, 110);
    border: 2px solid rgb(37, 56, 110);
  }

  .btn-2:hover {
    background: rgb(37, 56, 110);
    color: white;
    border: 2px solid white;
  }
}

/* keyframes */
@keyframes first-bar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(28deg);
  }
}
@keyframes second-bar {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
@keyframes third-bar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-28deg);
  }
}
@keyframes slide-bottom {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes first-loading {
  0% {
    width: 35%;
  }

  100% {
    width: 75%;
  }
}
@keyframes second-loading {
  0% {
    width: 35%;
  }

  100% {
    width: 65%;
  }
}
@keyframes third-loading {
  0% {
    width: 35%;
  }

  100% {
    width: 45%;
  }
}
